button, button:hover, button:active, button:focus {
    border: none;
    outline: none;
}

.main{
    min-width: 380px;
}

/* Style for "NavBar" */

.navBar-bg{
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    min-width: 380px;
    height: 128px;
    background-color: #f96332;
}
.menu-icon {
    background: url("../Icons/MenuIcon.png") center no-repeat;
    width: 42px;
    height: 34px;
    margin: 66px 0px 29px 28px;
}
.logo {
    background: url("../Icons/Logo.png") center no-repeat;
    width: 42px;
    height: 43px;
    display: block; 
    margin: 65px auto 20px auto;
}
.search-icon {
    background: url("../Icons/SearchIcon.png") center no-repeat;
    width: 43px;
    height: 45px;
    display: block; 
    margin: 60px 30px 23px 0px;
}
.setting-icon {
    background: url("../Icons/SettingIcon.png") center no-repeat;
    width: 50px;
    height: 45px;
    display: block; 
    margin: 60px 23px 23px 0px;
}

/* Style for "Header" */

.header-bg {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    height: auto;
    min-width: 380px;
    min-height: 170px;
    background-color: #ec5d2f;
}
.header-button{
    width: 200px;
    height: 72px;
    background-color: #ec5d2f;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 52px;
    margin: auto;
}
.header-button:hover, .header-button:focus, .header-button:active {
    border-radius: 36px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    outline: none;
}

/* Style for "Channels Page" */

.channel-container{
    position: relative;
    text-align: left;
    margin: 0 auto;
    width: 50%;
    max-width: 375px;
    max-height: 346px;
}
.channel-image{
    width: 100%;
    height: 100%;
}
.channel-text{
    height: 17px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 52px;
    text-transform: uppercase;
    letter-spacing: 0.88px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index:9999;
    padding-left: 42px;
    padding-bottom: 38px;
}
.channel-overlay{
    position: absolute;
    width: 375px;
    height: 120px;
    bottom: 0;
    left: 0;    
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.channels-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: 750px;
    min-width: 380px;
}

/* Style for "Select Channel Page" */

.channel-board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: 750px;
    min-width: 380px;
}
.cover {
    display: flex;
    width: 100%;
    max-width: 750px;
    max-height: 400px;
    position: relative;
}
.text-cover{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
.follow-button{
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0; 
    margin: auto; 
    width: 200px;
    height: 70px;
    border-radius: 35px;
    background-color: #ffffff;
    color: #f96332;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 52px;
}
.follower{
    position: absolute;
    width: 100%;
    left: 0; 
    right: 0;
    bottom: 70px;
    margin-left: auto; 
    margin-right: auto; 
    height: 18px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
}

/* Style for post */

.post-container{
    min-height: 150px;
    max-width: 750px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #d4d8dd;
}
.post-title{
    color: #000000;
    font-family: Montserrat;
    padding: 0 40px;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}
.post-src{
    width: 25%;
    display: flex;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
}
.post-date{
    width: 25%;
    display: flex;
    position: relative;
    color: #000000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
}
.post-src-icon{
    background: url("../Icons/SourceIcon.png") center no-repeat;
    width: 22px;
    height: 32px;
    float: left;
    display: flex;
    position: relative;
    margin: 9px 10px 0 40px;
}
.post-date-icon{
    background: url("../Icons/DateIcon.png") center no-repeat;
    width: 30px;
    height: 32px;
    float: left;
    display: flex;
    position: relative;
    margin: 9px 10px 0 0;
}

/* Style for login page */

.login-bg{
    display: flex;
    position: relative;
    width: 750px;
    height: 1334px;
    z-index: 0;
    background: url("../Icons/Background_Image.png") center no-repeat
}
.login-overlay{
    display: flex;
    position: relative;
    width: 750px;
    height: 1334px;
    z-index: -1;
    background-image: linear-gradient(to top, #000000 0%, #ff6a3a 100%);
}
.big-wave{
    display: flex;
    position: absolute;
    background: url("../Icons/BigWave.png") center no-repeat;
    width: 224px;
    height: 54px;
    top: 250px;
    left: 0;
    right: 0;
    margin:auto;
    z-index: 1;
}
.small-wave{
    display: flex;
    position: absolute;
    background: url("../Icons/SmallWave.png") center no-repeat;
    width: 224px;
    height: 54px;
    top: 295px;
    left: 0;
    right: 0;
    margin:auto;
    z-index: 1;
}
.n-logo{
    display: flex;
    position: absolute;
    background: url("../Icons/N.png") center no-repeat;
    width: 132px;
    height: 132px;
    top: 370px;
    left: 0;
    right: 0;
    margin:auto;
    z-index: 1;
}
.username-box{
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 650px;
    height: 110px;
    left:0;
    right: 0;
    top: 840px;
    border-radius: 55px;
    background-color: #ffffff;
    opacity: 0.1;
    margin: auto;
}
.username{
    display: flex;
    position: absolute;
    max-width: 500px;
    height: 110px;
    left: 60px;
    right: 0;
    top: 845px;
    color: #ffffff;
    outline:none;
    background: transparent;
    border: none;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 400;
    padding-left: 120px; 
    z-index: 9999;
}
.password-box{
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 650px;
    height: 110px;
    top: 970px;
    border-radius: 55px;
    background-color: #ffffff;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto; 
    opacity: 0.1;
}
.password{
    display: flex;
    position: absolute;
    max-width: 500px;
    height: 110px;
    left: 60px;
    right: 0;
    top: 975px;
    color: #ffffff;
    outline:none;
    background: transparent;
    border: none;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 400;
    padding-left: 120px; 
    z-index: 9999;
}
.user-icon{
    background: url("../Icons/UsernameIcon.png") center no-repeat;
    display: flex;
    position: absolute;
    width: 44px;
    height: 44px;
    left: 95px;
    right: 0;
    top: 870px;
    outline:none;
    border: none;
}
.pass-icon{
    background: url("../Icons/PasswordIcon.png") center no-repeat;
    display: flex;
    position: absolute;
    width: 44px;
    height: 54px;
    left: 95px;
    right: 0;
    top: 995px;
    outline:none;
    border: none;
}
.login-button{
    display: flex;
    position: absolute;
    width: 650px;
    height: 110px;
    top: 1110px;
    border-radius: 55px;
    background-color: #f96332;
    left: 60px;
    right: 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
}
.create-acc{
    width: auto;
    height: 22px;
    left: 50px;
    top: 1270px;
    background: transparent;
    display: flex;
    position: absolute;
    opacity: 0.5;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
}
.help{
    width: auto;
    height: 22px;
    right: 50px;
    top: 1270px;
    background: transparent;
    display: flex;
    position: absolute;
    opacity: 0.5;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
}
::placeholder{
    color: #ffffff;
}
